
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title> Soteria - Banking with Cryptocurrency </title>

    <!-- Favicon -->
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwpWPBYkl5XfOMzh4GfdlOIiA1jHpYKzNDzWEWoWMCe5zTkzNe&s">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/classy-nav.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/custom-icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/sourcesanspro-font.css') }}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!-- jQuery-2.2.4 js -->
    <script src="{{ url_for('static',filename='js/jquery-2.2.4.min.js') }}"></script>
    <!-- Popper js -->
    <!-- <script src="js/bootstrap/popper.min.js"></script>-->
    <!-- Bootstrap js -->
    <script src="{{ url_for('static',filename='bootstrap/bootstrao.min.js') }}"></script>
    <!-- All Plugins js -->
    <script src="{{ url_for('static',filename='js/pulgins.js') }}"></script>
    <!-- Active js -->
    <script src="{{ url_for('static',filename='js/active.js') }}"></script>
</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                            <!-- Top Headline -->
                            <div class="top-headline">
                                <p>Welcome to <span>Soteria</span></p>
                            </div>
                            <!-- Top Login & Faq & Earn Monery btn -->
                            <div class="login-faq-earn-money">
                                <a href="login.html" class="active">Login | Register</a>
                                <a href="faq.html">FAQ</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        
                        <a class="nav-brand" href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwpWPBYkl5XfOMzh4GfdlOIiA1jHpYKzNDzWEWoWMCe5zTkzNe&s" style="height:100px" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                          
                                
                                 <a href="">Home </a> 
                                    
                                     <div class="topmenu"> 
                                         <a name="menu"> &emsp;&emsp;Menu</a>
                                    
                                           
                                                <div class="bottommenu">
                                                
                                                    <a href="#about"> About us</a><br><br>
                                                    <a href="login.html">Register</a><br><br>
                                                <a href="#currencies"> News</a><br><br>
                                                <a href="faq.html"> FAQ</a><br><br>
                                        
                                                                                   
                                                </div> </div>
                                     
                                    
                                    <a href="#currencies"> &emsp;&emsp;Currencies</a>
                                    <a href="contact.html"> &emsp;&emsp;Contact</a>
                                


                            </div>
                            <!-- Nav End -->
                             </nav>
                        </div>
                   
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    <!-- ##### Course Area Start ##### -->
    <div class="cryptos-feature-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <h3>Let’s change <br><span>the world</span> together</h3>
                        <p>We value your money. Our bank is bringing <i>Blockchain</i> into your lives one transaction at a time.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area active mb-100 text-center">
                        <i class="icon-safebox"></i>
                        <h3>Fast &amp; Easy</h3>
                        <p>You no longer have to wait days for a transaction to be processed. Join us to send and receive money in no time. </p>
                       
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-bitcoin"></i>
                        <h3>No strings attached</h3>
                        <p>No hidden policies or T&C. Only transparent and clean banking.</p>
                  
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area active mb-100 text-center">
                        <i class="icon-exchange"></i>
                        <h3>Small Commissions</h3>
                        <p>Transaction fees don't have to skyrocket. We value your money.</p>
                     
                    </div>
                </div>

                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-wallet"></i>
                        <h3>100% Secure</h3>
                        <p>You can keep track of everything. Literally. </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Course Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="cryptos-about-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-thumbnail mb-100">
                        <img src="{{url_for('static', filename='bgimg/about.png')}}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <div class="section-heading">
                            <a name="about"></a>
                            <h3>What makes us  <br><span>different</span> ?</h3>
                            <h5>We provide world class banking solutions. The state of the art technologies like Blockchain ensures that we stay at the top.</h5>
                            
                            <a href="faq.html" class="btn cryptos-btn mt-30">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    


    <!-- ##### Blog Area Start ##### -->
    <section class="cryptos-blog-area section-padding-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-7">
                    <div class="blog-area">
                        <!-- Single Blog Area -->
                        <div class="single-blog-area d-flex align-items-start">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="{{url_for('static', filename='blog-img/1.jpg')}}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">This Platform Aims to Disrupt the Market</a>
                                <div class="meta-data">
                                    <a href="#">Soteria News</a> |
                                    <a href="#">March 18, 2019</a>
                                </div>
                                <p>News article 1. Random content here. </p>
                            </div>
                        </div>
                        <!-- Single Blog Area -->
                        <div class="single-blog-area d-flex align-items-start">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="{{url_for('static', filename='blog-img/2.jpg')}}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">New Hedge Funds invests in Crypto</a>
                                <div class="meta-data">
                                    <a href="#">Soteria News</a> |
                                    <a href="#">March 18, 2019</a>
                                </div>
                                <p>News article 2. Random content here.</p>
                            </div>
                        </div>
                        <!-- Single Blog Area -->
                        <div class="single-blog-area d-flex align-items-start">
                            <!-- Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="{{url_for('static', filename='blog-img/3.jpg')}}" alt="">
                            </div>
                            <!-- Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Banking at a whole new level</a>
                                <div class="meta-data">
                                    <a href="#">Soteria News</a> |
                                    <a href="#">March 18, 2019</a>
                                </div>
                                <p>News article 3. Random content here.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="cryptos-prices-table">
                        <a name="currencies"></a>
                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>01</span>
                                <img src="{{url_for('static', filename='bgimg/bitcoin.png')}}img/bg-img/bitcoin.png" alt="">
                                <p>Bitcoin <span>BTC</span></p>
                            </div>
                            <div class="price increase">
                                <p>$12 456.78</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>02</span>
                                <img src="{{url_for('static', filename='bgimg/ethereum.png')}}" alt="">
                                <p>Ethereum <span>ETH</span></p>
                            </div>
                            <div class="price increase">
                                <p>$1051.98</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>03</span>
                                <img src="{{url_for('static', filename='bgimg/bitcoin-cash.png')}}" alt="">
                                <p>Bitcoin Cash <span>BCH</span></p>
                            </div>
                            <div class="price decrease">
                                <p>$2256.78</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>04</span>
                                <img src="{{url_for('static', filename='bgimg/ripple.png')}}" alt="">
                                <p>Ripple <span>XRP</span></p>
                            </div>
                            <div class="price increase">
                                <p>$2.03</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>05</span>
                                <img src="{{url_for('static', filename='bgimg/litecoin.png')}}img/bg-img/litecoin.png" alt="">
                                <p>Litecoin <span>LTC</span></p>
                            </div>
                            <div class="price increase">
                                <p>$321.98</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>06</span>
                                <img src="{{url_for('static', filename='bgimg/cardano.png')}}" alt="">
                                <p>Cardano <span>ADA</span></p>
                            </div>
                            <div class="price increase">
                                <p>$0.75</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>07</span>
                                <img src="{{url_for('static', filename='bgimg/nem.png')}}" alt="">
                                <p>NEM <span>XEM</span></p>
                            </div>
                            <div class="price increase">
                                <p>$0.89</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>08</span>
                                <img src="{{url_for('static', filename='bgimg/neo.png')}}" alt="">
                                <p>NEO <span>NEO</span></p>
                            </div>
                            <div class="price decrease">
                                <p>$123.90</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>09</span>
                                <img src="{{url_for('static', filename='bgimg/stellar.png')}}" alt="">
                                <p>Stellar <span>XLM</span></p>
                            </div>
                            <div class="price increase">
                                <p>$0.67</p>
                            </div>
                        </div>

                        <!-- Single Price Table -->
                        <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>10</span>
                                <img src="{{url_for('static', filename='bgimg/iota.png')}}" alt="">
                                <p>IOTA <span>IOT</span></p>
                            </div>
                            <div class="price increase">
                                <p>$3.55</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        

        
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                              
                                <br>
                                <h6><b>You can be a Soterian too! </b></h6>
                            </div>
                            
                            <p> At Soteria, we provide banking solutions. Let's make the world better. Come, join our family. Hope we see you soon!</p>
                         
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                          
                            </div>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Quick Links</h6>
                            </div>
                            <nav>
                                <ul class="useful-links d-flex justify-content-between flex-wrap">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="#about">About us</a></li>
                                 
                                  
                                   
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    
</body>

</html>