<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sign Up/Login</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sourcesanspro-font.css') }}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"/>
</head>
<body class="form-v8">
	<div class="page-content">
		<div class="form-v8-content">
			<div class="form-left">
				<img src="{{url_for('static', filename='form-v8.jpg')}}" alt="form">
			</div>
			<div class="form-right">
				<div class="tab">
					<div class="tab-inner">
						<button class="tablinks" onclick="openCity(event, 'sign-up')" id="defaultOpen">Sign Up</button>
					</div>
					<div class="tab-inner">
						<button class="tablinks" onclick="openCity(event, 'sign-in')">Sign In</button>
					</div>
				</div>
				<form class="form-detail" action="/signup" method="post">
					<div class="tabcontent" id="sign-up">
						
						<div class="form-row">
							<label class="form-row-inner">
								<input type="text" name="user_name" id="user_name" class="input-text" required pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$" autocomplete="off">
								<span class="label">Username</span> <!-- ^ beg,$ end,?= +velookahead,?! -velookahead,?<! -velookback, 8-20 characters, doesn't begin with _or., no __ or _. or ._ or .., no _ or . at the end -->
		  						<span class="border"></span>
							</label>
						</div>
						<div class="form-row">
							<label class="form-row-inner">
								<input type="email" name="your_email" id="your_email" class="input-text" required autocomplete="off">
								<span class="label">E-Mail</span>
		  						<span class="border"></span>
							</label>
						</div>
						<div class="form-row">
							<label class="form-row-inner">
                                                              <input id="password" name="password" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="" class="input-text" required autocomplete="off">
								<!-- atleast 6 characters -->
								<span class="label">Password</span>
								<span class="border"></span>
							</label>
						</div>
						<div class="form-row">
							<label class="form-row-inner">
                                                            <input id="password_two" name="password_two" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="" class="input-text" required>
								
								<span class="label">Confirm Password</span>
								<span class="border"></span>
							</label>
						</div>
                                


						<div class="form-row-last">
							<input type="submit" name="register" class="register" value="Register">
						</div>
					</div>
				</form>
				<form class="form-detail" action="/login" method="post">
					<div class="tabcontent" id="sign-in">
					<div class="form-row">
							<label class="form-row-inner">
								<input type="text" name="acc_no" id="acc_no" class="input-text" required pattern="^\d{1,7}$" autocomplete="off">
								<span class="label">Account number</span>
		  						<span class="border"></span>
							</label>
						</div>	
						<div class="form-row">
							<label class="form-row-inner">
								<input type="text" name="user_name_1" id="user_name_1" class="input-text" required pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$" autocomplete="off">
								<span class="label">Username</span>
		  						<span class="border"></span>
							</label>
						</div>
						
						<div class="form-row">
							<label class="form-row-inner">
								<input type="password" name="password_1" id="password_1" class="input-text" required pattern="^\S{6,}$">
								<span class="label">Password</span>
								<span class="border"></span>
							</label>
						</div>
						
						<div class="form-row-last">
							<input type="submit" name="register" class="register" value="Sign In">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function openCity(evt, cityName) {
		    var i, tabcontent, tablinks;
		    tabcontent = document.getElementsByClassName("tabcontent");
		    for (i = 0; i < tabcontent.length; i++) {
		        tabcontent[i].style.display = "none";
		    }
		    tablinks = document.getElementsByClassName("tablinks");
		    for (i = 0; i < tablinks.length; i++) {
		        tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }
		    document.getElementById(cityName).style.display = "block";
		    evt.currentTarget.className += " active";
		}

		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
	</script>
</body>
</html>